/* WEBneo bottom bar colors */
body::after {
  content: "";
  width: 100%;
  height: 5px;
  position: fixed;
  bottom: 0;
  background: linear-gradient(
    90deg,
    #bb0d27 32%,
    transparent 32%,
    transparent 32.5%,
    #f39200 32.5%,
    #f39200 66%,
    transparent 66%,
    transparent 66.5%,
    #80a51b 66.5%
  );
  z-index: 1000;
}

/* Links in mail previews */
.file-content.message-preview a:link,
.file-content.message-preview span.MsoHyperlink {
  color: #0080FF;
}

/* Vue table headers */
.ant-table.ant-table.ant-table-small .ant-table-header .ant-table-thead>tr>th {
    background-color: #24262b !important;
}
.vue-query__cell-sorts__column-name.vue-query__cell-sorts__column-name {
    color: #f0f4f8; 
}

/* Vue modal */
body .vue-modal__container,
body .vue-modal__legend.reference,
body .vue-modal__main,
body .vue-modal__overview,
body .vue-modal__attributes, 
body .vue-modal__custom-fields {
    background-color: #26282d;
    border-color: transparent;
}
body .vue-modal .editable-input__wrapper {
    color: #cecece;
}
body .vue-modal__comment-body {
    background-color: #26282d;
    color: #cecece;
    border-color: #303237;
}
body .vue-modal__sidebar,
body .vue-modal .avatar__wrapper img,
body .vue-modal__headline,
body .vue-modal__attribute>.editable-input__wrapper, 
body .vue-modal__custom-field>.editable-input__wrapper {
    border-color: #303237;
}
