/* WEBneo bottom bar colors */
body::after {
  content: "";
  width: 100%;
  height: 5px;
  position: fixed;
  bottom: 0;
  background: linear-gradient(
    90deg,
    #bb0d27 32%,
    transparent 32%,
    transparent 32.5%,
    #f39200 32.5%,
    #f39200 66%,
    transparent 66%,
    transparent 66.5%,
    #80a51b 66.5%
  );
  z-index: 1000;
}

/* Links in mail previews */
.file-content.message-preview a:link,
.file-content.message-preview span.MsoHyperlink {
  color: #0080FF;
}

/* Vue table headers */
.ant-table.ant-table.ant-table-small .ant-table-header .ant-table-thead>tr>th {
    background-color: #24262b !important;
}
.vue-query__cell-sorts__column-name.vue-query__cell-sorts__column-name {
    color: #f0f4f8; 
}
