/* Webneo logo */
@media (min-width: 768px) {
  .pageheader__logo::after {
    content: "";
    display: block;
    width: 100%;
    height: 60px;
    background-image: url(https://webneo.de/img/wbn_logo_rgb.svg);
    position: absolute;
    bottom: 0;
    left: 100%;
  }
}

/* default theme */
[data-admintheme="0"],
[data-usertheme="0"] {
  background: linear-gradient(112deg, #bb0d27 33%, #f39200 66%, #80a51b 100%);
}

/* light theme */
[data-admintheme="1"] .theme-background,
[data-usertheme="1"] .theme-background {
  background: linear-gradient(112deg, #bb0d27 5%, #f39200 30%, #80a51b 100%);
}

/* purple theme */
[data-admintheme="2"] .theme-background,
[data-usertheme="2"] .theme-background {
  background: linear-gradient(112deg, #bb0d27 33%, #f39200 66%, #80a51b 100%);
}

/* purple theme */
[data-admintheme="3"] .theme-background,
[data-usertheme="3"] .theme-background {
  background: linear-gradient(112deg, #bb0d27 33%, #f39200 66%, #80a51b 100%);
}
