:root {
    --inverted-blue: #e5a442;
    --inverted-blue-shade: #e59519;
    --inverted-darkblue: #191919;
    
    /* Override bitbucket colors */
    --ds-link: var(--inverted-blue);
    --ds-background-brand-bold: var(--inverted-blue);
}

/* Base color, shown when filter() stops working */
html {
    background: #191919;
}

body {
    filter: invert(.9);
    accent-color: var(--inverted-blue);
}

/* Media */
img, 
svg, 
video, 
[style*=background-image],
[data-testid="product-home-logo"] {
    filter: invert(1);
}

/* Content container */
[data-testid="Content"] {
    background-color: white;
}

/* Pipelines */
.css-tshdkx {
    background-color: var(--inverted-darkblue);
    filter: invert(1);
}

/* pipeline/deployment result header */
[data-test="environment-history-launcher"],
[data-test="result-page"] > div > header > div:last-child {
    filter: invert(1);
}

/* Blue styles */
#createGlobalItem,
body.adg3 .aui-button.aui-button-primary {
    background-color: var(--inverted-blue);
}
[style*=--button-selected-border-color] {
    --button-selected-border-color: var(--inverted-blue) !important;
}
[style*=--button-selected-color] {
    --button-selected-color: var(--inverted-blue) !important;
}
.repo-create--expand-trigger {
    color: var(--inverted-blue) !important;
}
a,
body.adg3 form.aui .buttons-container .cancel {
    color: var(--inverted-blue);
}

/* Blue shade styles*/
#createGlobalItem:hover,
body.adg3 .aui-button.aui-button-primary:hover {
    background-color: var(--inverted-blue-shade);
}
a:hover,
body.adg3 form.aui .buttons-container .cancel:hover {
    color: var(--inverted-blue-shade);
}
